<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--1.导入spring的坐标spring-context，选择稳定版本5.2.10.RELEASE-->

    <!--2.配置bean：id表示bean的名称，class表示bean的类型-->
    <!--注意id在同一个context不能重复-->
    <bean id="bookDao" class="com.zsh.com.impl.dao.com.zsh.BookDaoImpl"/>
    <bean id="bookService" class="com.impl.service.com.zsh.BookServiceImpl">
        <!--配置service与dao的关系-->
        <!--name表示配置bookService里哪一个成员变量，ref表示参照哪一个bean-->
        <property name="bookDao" ref="bookDao"/>
    </bean>
</beans>